[package]
name = "dprint-plugin-prettier"
version = "0.17.0"
edition = "2021"

[dependencies]
async-channel = "1.6.1"
dprint-core = { version = "0.57.0", features = ["process"] }
deno_console = "0.51.0"
deno_core = "0.133.0"
deno_url = "0.51.0"
deno_webidl = "0.51.0"
once_cell = "1.10"
serde = { version = "1.0.117", features = ["derive"] }
serde_json = { version = "1.0", features = ["preserve_order"] }
sysinfo = { version = "0.23.5", default-features = false }
tokio = { version = "1", features = ["macros", "rt", "time"] }
tokio-util = { version = "0.7.0" }
zstd = "0.9.2"

[build-dependencies]
deno_console = "0.51.0"
deno_core = "0.133.0"
deno_url = "0.51.0"
deno_webidl = "0.51.0"
zstd = "0.9.2"

[dev-dependencies]
dprint-development = "0.8.0"
pretty_assertions = "1.1.0"
