[package]
name = "dprint-plugin-prettier"
version = "0.26.1"
edition = "2021"

[dependencies]
async-channel = "1.9.0"
dprint-core = { version = "0.62.1", features = ["process"] }
deno_console = "0.111.0"
deno_core = "0.195.0"
deno_url = "0.111.0"
deno_webidl = "0.111.0"
once_cell = "1.18"
serde = { version = "1.0.149", features = ["derive"] }
serde_json = { version = "1.0", features = ["preserve_order"] }
sysinfo = { version = "0.29.4", default-features = false }
tokio = { version = "1", features = ["macros", "rt", "time"] }
tokio-util = { version = "0.7.8" }
zstd = "0.12.0"

[build-dependencies]
deno_console = "0.111.0"
deno_core = { version = "0.195.0", features = ["include_js_files_for_snapshotting"] }
deno_url = "0.111.0"
deno_webidl = "0.111.0"
zstd = "0.12.0"

[dev-dependencies]
dprint-development = "0.9.3"
pretty_assertions = "1.4.0"

[patch.crates-io]
deno_core = { git = "https://github.com/dsherret/deno_core/", branch = "feat_with_runtime_cb" }
