name: check_updates

on:
  workflow_dispatch:
  schedule:
    # do this three times a week
    - cron: "0 7 * * 1,3,5"

jobs:
  build:
    name: check updates
    if: github.repository == 'dprint/dprint-plugin-prettier'
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Clone repository
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.GH_DPRINTBOT_PAT }}

      - uses: denoland/setup-deno@v1
      - uses: dtolnay/rust-toolchain@stable

      - name: Run script
        run: |
          git config user.email "dprintbot@users.noreply.github.com"
          git config user.name "dprintbot"
          deno run -A ./scripts/update.ts
